{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "アカウント作成" %}{% endblock %}

{% block content %}
<form method="post" class="login">
    {% csrf_token %}
    <p>
        {{ form.username.label_tag }}
        {{ form.username }}
        {% if form.username.errors %}
            <span style="color:red;">{{ form.username.errors }}</span>
        {% endif %}
    </p>
    
    <p>
        {{ form.email.label_tag }}
        {{ form.email }}
        {% if form.email.errors %}
            <span style="color:red;">{{ form.email.errors }}</span>
        {% endif %}
    </p>

    <p>
        {% trans "パスワード" %}:<br>
        {{ form.password1 }}
        {% if form.password1.errors %}
            <span style="color:red;">{{ form.password1.errors }}</span>
        {% endif %}
    </p>

    <p>
        {% trans "パスワード確認" %}:<br>
        {{ form.password2 }}
        {% if form.password2.errors %}
            <span style="color:red;">{{ form.password2.errors }}</span>
        {% endif %}
    </p>

    <p>
        {{ form.is_public.label_tag }}<br>
        <span class="radio-inline">
            {{ form.is_public }}
            {% if form.is_public.errors %}
                <span style="color:red;">{{ form.is_public.errors }}</span>
            {% endif %}
        </span>
    </p>

    <button type="submit" class="song-search-button">{% trans "アカウント作成" %}</button>
</form>
{% endblock %}
