{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "履歴" %} {% endblock %}

{% block content %}

<div class="history">
    {% regroup histories by viewed_at|date:"Y-m-d" as history_by_date %}
    
    {% for day in history_by_date %}
        <div class="song-score">
            <h2>{{ day.grouper }}</h2>
            <ul>
                {% for h in day.list %}
                    <li>
                        <a href="{% url 'app:song-detail' %}?preview_url={{ h.song.preview_url|urlencode }}">
                            {{ h.viewed_at|date:"H:i" }} ： {{ h.song.track_name }} - {{ h.song.artist_name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% empty %}
        <div class="song-score">
            <ul>
                <li>{% trans "履歴はまだありません。" %}</li>
            </ul>
        </div>
    {% endfor %}
</div>

{% endblock %}
