{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %} {% trans "点数一覧" %} {% endblock %}

{% block content %}
<div class="index">
    <div class="song-search">
        <form method="get" action="" class="song-search-form">
            <div class="song-search-span">
                <span>{% trans "曲検索" %}</span>
                <input class="song-search-input" type="text" name="q" placeholder="{% trans 'アーティスト名や曲名' %}"
                    value="{{ query|default:'' }}">
            </div>
            <button class="song-search-button" type="submit">{% trans "検索" %}</button>
        </form>

        {% if request.GET.q == "" and request.GET %}
            <p style="color:red;">{% trans "検索ワードを入力してください" %}</p>
        {% endif %}
    </div>
</div>
<div class="index">
    {% for song_group in score_logs_grouped %}
    <div class="song-group">
        <h2>
            <div class="score-h2">
                <img src="{{ song_group.song.artwork_url }}" alt="{{ song_group.track_name }}" class="song-img">
                <a href="{% url 'app:favorite-detail' song_group.song.id %}">
                    {{ song_group.track_name }} - {{ song_group.artist_name }}
                </a>
            </div>
        </h2>
        <table class="score-table">
            <thead>
                <tr>
                    <th>{% trans "キー" %}</th>
                    <th>{% trans "点数" %}</th>
                    <th>{% trans "機種" %}</th>
                    <th>{% trans "画像" %}</th>
                    <th>{% trans "日付" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for log in song_group.logs %}
                <tr>
                    <td>{{ log.key }}</td>
                    <td>{{ log.score }}</td>
                    <td>{{ log.karaoke_type }}</td>
                    <td>
                        {% if log.image %}
                            <a href="{{ log.image.url }}" target="_blank">{% trans "表示" %}</a>
                        {% else %}
                            <p>------</p>
                        {% endif %}
                    </td>
                    <td>{{ log.created_at|date:"Y/m/d H:i" }}</td>
                    <td>
                        <a href="{% url 'app:delete_score' log.pk %}" class="delete-button">
                            {% trans "削除" %}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
    {% empty %}
    <p>{% trans "記録はまだありません。" %}</p>
    {% endfor %}
</div>

{% endblock %}